<div class = "form">
<h1 class= "h3 mb-3 font-weight-normal">Uredi Uporabnika</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label for="inputEmail" class="visually-hidden">E-naslov</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="field">
    <label for="inputIme" class="visually-hidden">Ime</label>
    <%= f.text_field :name, autocomplete: 'name' ,class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <label for="inputPassword" class="visually-hidden">Geslo</label>
    <% if @minimum_password_length %>

      <em>(<%= @minimum_password_length %> Znakov minimalno)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" , class: "form-control"%>
  </div>

  <div class="field">
      <label for="inputPassword" class="visually-hidden">Potrdi Geslo</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control" %>
  </div>

  <div class="field">
    <label for="inputPassword" class="visually-hidden">Trenutno Geslo</label>
    <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control" %>
  </div>
<br>
  <button type = "submit" class="btn btn-lg btn-primary btn-block">
   Posodobitev
    </button>
<% end %>
<br>
<h1 class= "h3 mb-3 font-weight-normal">Izbris Računa</h1>
<%= button_to "Izbris racuna", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-lg btn-secondary btn-block"%>
<br>
<%= link_to "Nazaj", :back, class: "btn btn-lg btn-secondary btn-block" %>
