<p id="notice"><%= notice %></p>
<main role="main" class="inner cover">



  <h1 class="cover-heading">
  <%= @news.title %>
  </h1>


<p class="lead">
  <%= @news.body %>
</p>

<p>
  <strong>Avtor:</strong>
  <%= @news.user.name || 'Anonimna oseba' %>
</p>

<%= display_news_show_links(@news) %>
  </main>
