<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @news.user.email %>
</p>

<%= display_news_show_links(@news) %> 
