<div class = "form">
<h1 class= "h3 mb-3 font-weight-normal">Prijava</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label for="inputEmail" class="visually-hidden">E-naslov</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field">
  <label for="inputEmail" class="visually-hidden">Geslo</label>
    <%= f.password_field :password, autocomplete: "current-password" , class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="checkbox mb-3">
       <label>
         <%= f.check_box :remember_me %>
         <%= f.label :remember_me %>
       </label>
     </div>

  <% end %>

  <button type = "submit" class="btn btn-lg btn-primary btn-block">
Prijava
    </button>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
