<p id="notice"><%= notice %></p>
<main role="main" class="inner cover">

  <h1 class="cover-heading">
  <%= @post.title %>
  </h1>



<p class="lead">
  <%= @post.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.name || 'Anonimna oseba' %>
</p>

<%= display_posts_show_links(@post) %>
</main>
